<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.figma">

    <!-- Logged out -->
    <RelativeLayout
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:id="@+id/logged_out"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:clipToOutline="true"
        android:background="@drawable/logged_out"
        />


    <!-- drawable/logged_out.xml -->
    <vector
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:aapt="http://schemas.android.com/aapt"
        android:width="375dp"
        android:height="812dp"
        android:viewportWidth="375"
        android:viewportHeight="812"
        >

        <group>

            <clip-path
                android:pathData="M0 0H375V812H0V0Z"
                />

            <path
                android:pathData="M0 0V812H375V0"
                android:fillColor="#FFFFFF"
                />

        </group>

    </vector>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Figma">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>